# Serveur
PORT=3002
NODE_ENV=development

# Base de données
DB_HOST=localhost
DB_PORT=5432
DB_NAME=marketplace
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# CORS
ALLOWED_ORIGINS=http://localhost:4200,https://heligxiam.com

# Logs
LOG_LEVEL=info

# Sécurité
MAX_FILE_SIZE=5242880
ALLOWED_IMAGE_TYPES=jpeg,jpg,png,webp
JWT_SECRET=your_jwt_secret_key_here
