# Serveur
PORT=3003
NODE_ENV=development

# Base de données
DB_HOST=localhost
DB_PORT=5432
DB_NAME=marketplace
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# CORS
ALLOWED_ORIGINS=http://localhost:4200,https://heligxiam.com

# Logs
LOG_LEVEL=info
JWT_SECRET=your_jwt_secret_key_here
PRODUCT_SERVICE_URL=http://localhost:3002
